/**
     * ----------------------------------------------------------------
     * News
     * Author: Daniel Chikaka
     * Email: daniel.chikaka@ega.go.tz
     * ----------------------------------------------------------------
*/

.news{
  h1{
    margin: 0px;
  }
  ul{
        padding: 0px;
    border-top: 0px solid #f8f7f3;
    padding-top: 0px;
  }
}