/**
     * ----------------------------------------------------------------
     * Header CSS 
     * Author: Daniel Chikaka
     * Email: daniel.chikaka@ega.go.tz
     * ----------------------------------------------------------------
  */



  #header{
  	background-color:  #fff;
        background-color: rgba(255,255,255,0.8);
    // border-top: 4px solid $brand-primary;
    position: relative;
	
	    // position: fixed;
    // z-index: 999999999999999999999999999;
    // width: 100%;

        // border-bottom: 4px solid $brand-primary;



.header-modifier{
  position: relative;


}


  
  	h1{
  		  // font-weight: 600;
  line-height: 1.1;
        font-size:  em(28px);
            margin: 0px;
      padding-top: em(8px);
    // text-align: center;
              color: $brand-primary;
            // @include span(8 of 12 );

            span{
              font-size: em(14px);
              color: $brand-primary;
              font-weight: 600;
            }
            small{
                  color: #777;
                  font-family: arial;
            }
  	}

  	#logo{
  	     // padding: 10px 0;
          // @include span(2 of 12);
     margin: em(10px)  em(20px)  em(10px) 0;
        float: left;

    }

    #board-logo{
          @include span(2 of 12  last);
    padding-right: 0;
    position: relative;
        margin:  em(10px) 0  em(10px);

          img{
                float: right;
          }

          ul{
            position: absolute;
            left: 0px;
            top: em(10px);
            li{
                 list-style-type: none;
    display: inline-block;
    border-right:  em(1px) solid #ddd;
    padding: 0  em(5px);

    &:last-child{
        border-right: 0px;
    }
    &:first-child{
      padding-left: 0px;
    }
              
            }
          }

    }



  }


























