/**
     * ----------------------------------------------------------------
     * CSS SASS file for  Muhas website
     * There is SASS Inside, be careful !
     * Author: Daniel Chikaka
     * Email: daniel.chikaka@ega.go.tz
     * ----------------------------------------------------------------
 */

 #main-menu{
    background-color: #F8F7F3;
  border-top: 2px solid  #E0DFDB;
    position: relative;
        bottom: 0px;
            // display: inline-block;



}


     nav.navbar{
           @include span(12);
               margin-top: 0px;
    }

    .navbar{
            margin-top: -6px;
            ul{
                li{

                        // background: url("../images/menu.png") center right no-repeat;


                        // &:last-child{
                        //     background:none;
                        // }


                    a{
                            // border-right: 1px solid #222;
                    }
                }
            }
    }



 .navbar-default {
    border: 0px;
    // background-image: url("../images/menu-bg.png");
    // background-repeat: repeat;

    ul{
    	li{

    		a{
    			text-transform: uppercase;
    			// border-right: 1px solid #d6d6d6;
                                     font-family:  $headings-font-family;
    		}
    	}
    }

    .form-control{
    	    border: 0px solid #ececec;
    	    height: 30px;
    	    background-color: #ffffff;

    	                &:focus{
             	    -webkit-box-shadow: none;
    box-shadow: none;
        border: 0px;
         outline: 0;
             }

    	    input{
    	    	    -webkit-box-shadow: none;
    box-shadow: none;
             &:focus{
             	    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0px;
      outline: 0;
             }
    	    }
    }
}



.navbar-form {
    // margin-left: -15px;
    // margin-right: -15px;
    // padding: 1px 15px;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 0px;
    margin-bottom: 0px;
        padding: 5px 0;
        position: absolute;
        right: 5px;


    .form-group{

    	position: relative;

    	input{
    		    padding-right: 25px;
    	}

    	.icon{
    		position: absolute;
    		    top: 6px;
    right: 6px;
    	}
    }
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 0;
    margin: 0px 0 0;
    list-style: none;
    font-size: 15px;
    text-align: left;
    background-color:  #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;

li{
    background: none  !important;
    a{
        color: #444;
            &:hover{

    color: #000;
    background-color: #f2f2f2;
    }
    }
}
}




